webclient/src/main/java/mypackage/CmiWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0 svn-revision#3528ea595bd29309f69172d231bbce272d21035c. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is JAX-WS RI 2.3.0 svn-revision#3528ea595bd29309f69172d231bbce272d21035c. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://controllers.cmi.api.ensas.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://controllers.cmi.api.ensas.com/" name="CmiWS">
<types>
<xsd:schema>
<xsd:import namespace="http://controllers.cmi.api.ensas.com/" schemaLocation="http://localhost:8585/CmiWS?xsd=1"/>
</xsd:schema>
</types>
<message name="saveClient">
<part name="parameters" element="tns:saveClient"/>
</message>
<message name="saveClientResponse">
<part name="parameters" element="tns:saveClientResponse"/>
</message>
<message name="updateClient">
<part name="parameters" element="tns:updateClient"/>
</message>
<message name="updateClientResponse">
<part name="parameters" element="tns:updateClientResponse"/>
</message>
<message name="getListClient">
<part name="parameters" element="tns:getListClient"/>
</message>
<message name="getListClientResponse">
<part name="parameters" element="tns:getListClientResponse"/>
</message>
<message name="deleteClient">
<part name="parameters" element="tns:deleteClient"/>
</message>
<message name="deleteClientResponse">
<part name="parameters" element="tns:deleteClientResponse"/>
</message>
<message name="getListTransaction">
<part name="parameters" element="tns:getListTransaction"/>
</message>
<message name="getListTransactionResponse">
<part name="parameters" element="tns:getListTransactionResponse"/>
</message>
<message name="getIsActivated">
<part name="parameters" element="tns:getIsActivated"/>
</message>
<message name="getIsActivatedResponse">
<part name="parameters" element="tns:getIsActivatedResponse"/>
</message>
<message name="getListCreancier">
<part name="parameters" element="tns:getListCreancier"/>
</message>
<message name="getListCreancierResponse">
<part name="parameters" element="tns:getListCreancierResponse"/>
</message>
<message name="getImpayes">
<part name="parameters" element="tns:getImpayes"/>
</message>
<message name="getImpayesResponse">
<part name="parameters" element="tns:getImpayesResponse"/>
</message>
<message name="confirmePaye">
<part name="parameters" element="tns:confirmePaye"/>
</message>
<message name="confirmePayeResponse">
<part name="parameters" element="tns:confirmePayeResponse"/>
</message>
<message name="setClientPassword">
<part name="parameters" element="tns:setClientPassword"/>
</message>
<message name="setClientPasswordResponse">
<part name="parameters" element="tns:setClientPasswordResponse"/>
</message>
<message name="getSolde">
<part name="parameters" element="tns:getSolde"/>
</message>
<message name="getSoldeResponse">
<part name="parameters" element="tns:getSoldeResponse"/>
</message>
<portType name="CmiWebService">
<operation name="saveClient">
<input wsam:Action="http://controllers.cmi.api.ensas.com/CmiWebService/saveClientRequest" message="tns:saveClient"/>
<output wsam:Action="http://controllers.cmi.api.ensas.com/CmiWebService/saveClientResponse" message="tns:saveClientResponse"/>
</operation>
<operation name="updateClient">
<input wsam:Action="http://controllers.cmi.api.ensas.com/CmiWebService/updateClientRequest" message="tns:updateClient"/>
<output wsam:Action="http://controllers.cmi.api.ensas.com/CmiWebService/updateClientResponse" message="tns:updateClientResponse"/>
</operation>
<operation name="getListClient">
<input wsam:Action="http://controllers.cmi.api.ensas.com/CmiWebService/getListClientRequest" message="tns:getListClient"/>
<output wsam:Action="http://controllers.cmi.api.ensas.com/CmiWebService/getListClientResponse" message="tns:getListClientResponse"/>
</operation>
<operation name="deleteClient">
<input wsam:Action="http://controllers.cmi.api.ensas.com/CmiWebService/deleteClientRequest" message="tns:deleteClient"/>
<output wsam:Action="http://controllers.cmi.api.ensas.com/CmiWebService/deleteClientResponse" message="tns:deleteClientResponse"/>
</operation>
<operation name="getListTransaction">
<input wsam:Action="http://controllers.cmi.api.ensas.com/CmiWebService/getListTransactionRequest" message="tns:getListTransaction"/>
<output wsam:Action="http://controllers.cmi.api.ensas.com/CmiWebService/getListTransactionResponse" message="tns:getListTransactionResponse"/>
</operation>
<operation name="getIsActivated">
<input wsam:Action="http://controllers.cmi.api.ensas.com/CmiWebService/getIsActivatedRequest" message="tns:getIsActivated"/>
<output wsam:Action="http://controllers.cmi.api.ensas.com/CmiWebService/getIsActivatedResponse" message="tns:getIsActivatedResponse"/>
</operation>
<operation name="getListCreancier">
<input wsam:Action="http://controllers.cmi.api.ensas.com/CmiWebService/getListCreancierRequest" message="tns:getListCreancier"/>
<output wsam:Action="http://controllers.cmi.api.ensas.com/CmiWebService/getListCreancierResponse" message="tns:getListCreancierResponse"/>
</operation>
<operation name="getImpayes">
<input wsam:Action="http://controllers.cmi.api.ensas.com/CmiWebService/getImpayesRequest" message="tns:getImpayes"/>
<output wsam:Action="http://controllers.cmi.api.ensas.com/CmiWebService/getImpayesResponse" message="tns:getImpayesResponse"/>
</operation>
<operation name="confirmePaye">
<input wsam:Action="http://controllers.cmi.api.ensas.com/CmiWebService/confirmePayeRequest" message="tns:confirmePaye"/>
<output wsam:Action="http://controllers.cmi.api.ensas.com/CmiWebService/confirmePayeResponse" message="tns:confirmePayeResponse"/>
</operation>
<operation name="setClientPassword">
<input wsam:Action="http://controllers.cmi.api.ensas.com/CmiWebService/setClientPasswordRequest" message="tns:setClientPassword"/>
<output wsam:Action="http://controllers.cmi.api.ensas.com/CmiWebService/setClientPasswordResponse" message="tns:setClientPasswordResponse"/>
</operation>
<operation name="getSolde">
<input wsam:Action="http://controllers.cmi.api.ensas.com/CmiWebService/getSoldeRequest" message="tns:getSolde"/>
<output wsam:Action="http://controllers.cmi.api.ensas.com/CmiWebService/getSoldeResponse" message="tns:getSoldeResponse"/>
</operation>
</portType>
<binding name="CmiWebServicePortBinding" type="tns:CmiWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="saveClient">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateClient">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getListClient">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteClient">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getListTransaction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getIsActivated">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getListCreancier">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getImpayes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="confirmePaye">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setClientPassword">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSolde">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CmiWS">
<port name="CmiWebServicePort" binding="tns:CmiWebServicePortBinding">
<soap:address location="http://localhost:8585/CmiWS"/>
</port>
</service>
</definitions>